@page "{id:int}"
@model HomeBudgetRazor.Pages.EditExpenseModel
@{
    ViewData["Title"] = "EditExpense";
}

<h1>Edit Expense - @Model.Expense.Id</h1>
<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Expense.Id" type="hidden" />
    <div>
        <label asp-for="Expense.DateOfExpense"></label>
        <div>
            <input asp-for="Expense.DateOfExpense" />
            <span asp-validation-for="Expense.DateOfExpense"></span>
        </div>
    </div>
    <div>
        <label asp-for="Expense.Amount"></label>
        <div>
            <input asp-for="Expense.Amount" />
            <span asp-validation-for="Expense.Amount"></span>
        </div>
    </div>
    <div>
        <label asp-for="Expense.Category"></label>
        <div>
            <input asp-for="Expense.Category" />
            <span asp-validation-for="Expense.Category"></span>
        </div>
    </div>
    <div>
        <label asp-for="Expense.Description"></label>
        <div>
            <input asp-for="Expense.Description" />
            <span asp-validation-for="Expense.Description"></span>
        </div>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>

